#Git ignore list
build/*
.DS_Store
*~
*.bin
*.o
*gmon.out
*kate-swp
*.~lock*
*.dSYM

#ignores for automake crap
*autom4te.cache
*configure
*depcomp
*install-sh
*missing
*stamp-h1
*compile
*.in
Makefile
aclocal.m4
config.log
config.status
src/ghetto/.deps/*
src/ghettod/.deps/*
config.h
src/ghetto/ghetto
src/ghettod/ghettod
configure.scan
autoscan.log

