#Misc file ignore list
.DS_Store
*~
*.bin
*.o
*gmon.out
*kate-swp
*.~lock*
*.dSYM
build/*

#ignores for automake crap
*autom4te.cache
*configure
*depcomp
*install-sh
*missing
*stamp-h1
*compile
*.in
Makefile
aclocal.m4
config.log
config.status
src/.deps/*
src/config.h
autoscan.log
configure.scan

#project ignore list
src/ghetto
src/ghettod
